body {
  font: 16px sans-serif;
}

circle .dot .focus {
    fill: #EBE6E3;
}

.items__mark__diamond {
    fill: gray;
    opacity: .1;
}

.items__mark__diamond.highlighted {
  fill: red;
  opacity: 1;
 }

.dot__label {
  display: none;
}

.dots__labels:hover {
    display: visible;
    color: #EBE6E3;
}

.label {
    display: none;
}

.domain {
  stroke-dasharray: 1,1
}
