body {
  font: 16px sans-serif;
}

circle .dot .focus {
    fill: ;
}

.dots__labels {
    display: none;
}

.dots__labels:hover {
    display: visible;
    color: red;
}

.label {
    display: none;
}

.domain {
  stroke-dasharray: 1,1
}