body {
  font: 10px sans-serif;
}


/* Treemap */

rect {
  fill: none;
  stroke: #fff;
}

text {
  font: 10px sans-serif;
}


/* Scatterplot */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

/* nodelink */

circle.node {
  stroke: black;
  stroke-width: 1.5px;
  fill: white;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
