body {
  font: 10px sans-serif;
}

/* Table */


table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

table td, table th, caption {
  padding: 3px;
  border: 1px solid gray;;
}

table th {
  cursor: n-resize;
}

table th.sorted {
  cursor: s-resize;
}

table td:first-child, table td:nth-child(2) {
  text-align: center;
}

table tr.odd {
  background-color: #EEE;
}

td {
  text-align: right;
}

/* Treemap */

rect {
  fill: none;
  stroke: #fff;
}

text {
  font: 10px sans-serif;
}


/* Scatterplot */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

/* nodelink */

circle.node {
  stroke: black;
  stroke-width: 1.5px;
  fill: white;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

